<FlexboxLayout class="wrapper">
  <Label text="Quiz"  [nsRouterLink]="['/quiz']" class="card one"></Label>
  <Label text="Universität" class="card two" [nsRouterLink]="['/uni']"></Label>
  <Label text="Calender" class="card three" [nsRouterLink]="['/calender']"></Label>
  <Label text="Work" class="card four" [nsRouterLink]="['/work']"></Label>
  <Label text="I don't know" class="card five" (tap)="onIdk()"></Label>
</FlexboxLayout>
