.wrapper{
    flex-direction: column;
    height: 100%;

    justify-content: space-around;

    background: linear-gradient(180deg, #163A59 50%, #8C1414 50%);
}

.card{
    flex: 1 1 0;
    width: 100;

    font-family: 'Courier New', Courier, monospace;
    font-size: 40;
    padding-left: 20;
}

.one{
    background-color: #163A59;
    color: honeydew;
}

.two{
    background-color: #D9D3B8
}

.three{
    background-color: #F2EFDF
}

.four{
    background-color: #D99379
}

.five{
    background-color: #8C1414;
    color: honeydew;
}

