<FlexboxLayout class="wrapper">

  <FlexboxLayout class="topper">
    <FlexboxLayout class="question">
        <Label [text]="this.qst[0].txt" class="qsttxt"></Label>
    </FlexboxLayout>
  </FlexboxLayout>


  <FlexboxLayout class="answers" flexWrap="wrap">

    <!-- FIXME: Denke das geht nicht, wenn ich einfach allen diese class gebe -->

    <Label class="answer {{ this.extra_class }}" [text]="this.qst[0].a1" (tap)="onCheck(1)"></Label>
    <Label class="answer" [text]="this.qst[0].a2" (tap)="onCheck(2)"></Label>
    <Label class="answer" [text]="this.qst[0].a3" (tap)="onCheck(3)"></Label>
    <Label class="answer" [text]="this.qst[0].a4" (tap)="onCheck(4)"></Label>

  </FlexboxLayout>
</FlexboxLayout>
