.wrapper {
    background: #f1f0eb;
    flex-direction: column;

    justify-content: space-between;
}

.topper{
    flex-direction: column;
    background: #163A59;
    border-radius: 0 0 20 20;
}

.question {
    height: 250;
    width: 30;
    background: #F2EFDF;
    flex-direction: column;

    margin: 50 20 50 20;
    border-radius: 8;

    justify-content: center;


    Label{
        text-align: center;
    }
}


.answers{
    width: 200;
    height: 400;
    background: #f1f0eb;
    justify-content: space-around;
    align-items: center;
}

.answer{
    height: 50;
    width: 150;
    margin: 10;

    background: #F2EFDF;

    text-align: center;
}

.correct {
    background-color: #148C36;
}

.false {
    background-color: #8C1414;
}
