.wrapper{
    flex-direction: column;
    justify-content: space-between;

    background: #D99379;
}

.time{
    flex-direction: column;
    background: #F2EFDF;
    border-radius: 0 0 20 20;

    height: 250;
    width: 30;
    text-align: center;
    justify-content: space-around;

    font-size: xx-large;
    font-weight: bold;
}

.control{
    flex-direction: row;
    justify-content: space-around;
}

// Buttons

.btns{
    flex-direction: column;
}

.sBtn{
    height: 100;
    width: 200;
    border-radius: 100 100 0 0;

    /* margin: 0 0 0 20; */

    background: #4D0B0B;
    color: #F2EFDF;
    text-align:center;
}

.eBtn{
    background: #F2EFDF;
    height: 100;
    width: 200;

    border-radius: 0 0 100 100;
}
