<FlexboxLayout class="wrapper">
  <FlexboxLayout class="time">
    <Label text="{{ hours }}:{{ minutes }}:{{ seconds }}"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="control">

    <FlexboxLayout class="btns">

      <!-- <Label class="sBtn" (tap)="onAddTime(3000)"></Label> -->
      <Label class="sBtn" (tap)="onStart()"></Label>
      <Label class="eBtn" (tap)="onStop()"></Label>
    </FlexboxLayout>

  </FlexboxLayout>

</FlexboxLayout>
