
.box {
    align-self: center;

}

.btn {
    height: 36;
    width: 108;

    left: 13;
    right: 13;
    border-radius: 18;

    line-height: 22;
    font-size: 17;

    background-color: rgb(99, 99, 216);
    color: white;

    text-align: center;
    margin: 20 0;
}

